/.bundle/
/vendor/bundle/
/coverage/
/tmp/
/var/
/pkg/
/log/

*.gem
*.rbc
.rspec_status

# IDE
/.idea/
/.vscode/
*.swp
*.swo
.DS_Store

# Local
/.env
/.env.*
!/.env.example
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-wal
/db/*.sqlite3-shm
